@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes flash {
  from {
    background: rgba(46, 230, 166, 0.25);
  }
  to {
    background: transparent;
  }
}

.trade-new {
  animation: flash 1.5s ease;
}

@layer utilities {
  .icon-whale-trade {
    font-size: 9px;
    line-height: 1;
    display: inline-block;
  }
}
